body {
    background-color: beige;
}

.navigation {
    background-color: lightblue;
    text-align: center;
}

.navigation a {
    margin-right: 1em;
    margin-left: 1em;
}

.myheading {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 600px) {}