body {
    background-color: beige;
}

.navigation {
    background-color: lightblue;
    text-align: center;
}

.navigation a {
    display: flex;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
}

.div-line {
    padding-bottom: 1em;
    border-bottom: 2px solid grey;
}

.myheading {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 600px) {
    body {}
}