body {
    background-color: beige;
}


/* .navigation {
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.navigation a {
    grid-column: 2/3;
} */

.navigation a {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.div-line {
    padding-bottom: 1em;
    border-bottom: 2px solid grey;
}

.myheading {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 600px) {
    body {
        background-color: pink;
    }
}